/*--------------------------------------
BASE
--------------------------------------*/

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/*--------------------------------------
ÉLÉMENTS
--------------------------------------*/

body {
    margin: 0;
    padding: o;

    font-family: "Roboto", serif;
    font-size: 18px;
}

.wrapper {
    max-width: 1800px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

/*--------------------------------------
COMPONENTS
--------------------------------------*/

/*-----------HEADER-----------*/

header {
    background-color: #F26C25;
}

/*-----------BANNIÈRE-----------*/



/*-----------TRANSPORT-----------*/



/*-----------FOOTER-----------*/